body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.d-flex{
  display: flex;
}

.container {
  width: 100%;
  margin: 0 auto;
}

.customerow {
  display: flex !important;
  flex-wrap: wrap !important;
}

.justify_content_between {
  justify-content: space-between;
}

.text {
  text-align: center;
}

.col_100 {
  width: 100%;
}

.col_20 {
  width: 20%;
}

.col_30 {
  width: 30%;
}

.col_40 {
  width: 40%;
}

.col_20 {
  width: 20%;
}

.col_50 {
  width: 50%;
}

.col_70 {
  width: 70%;
}

.col_45 {
  width: 40%;
}

.col_30 {
  width: 30%;
}

.align_center {
  align-items: center;
}

.logo {
  text-align: left;
}


.btn_box {
  display: flex;
  justify-content: space-evenly;
}

.nav_list li {
  display: block;
}


.h2text h2 {
  color: #99CA3A;
}

.h2text p {
  color: #000;
  font-size: 20px;
}

.slidersec {
  background-color: #F5FAEB;
}

.text span {
  color: #99CA3A;
}

.form-control{
    display: block;
    width: 80%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    appearance: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #dee2e6;
    border-radius: 0.375rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.btn{
  display: inline-block;
  color: #fff;
  text-align: center;
  cursor: pointer;
  border: 1px solid #0d6efd;
  background-color: #0d6efd;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  border-radius: 0.375rem;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075);
}

button .bgwhite {
  background-color: aliceblue;
  color: #99CA3A;
  border: 1px solid #99CA3A;
}

.button button {
  padding: 10px 20px;
  background-color: #99CA3A;
  color: white;
  border: none;
  border-radius: 40px;
}

.paddingclass {
  padding: 50px 20px;
}

.paddingclassss {
  padding: 20px 0;
}



.imgs img {
  display: block;
  width: 20%;
  margin: 0 auto;
}

.colorclass {
  background-color: #99CA3A;
  border-radius: 10px;
}

.awsbutton button {
  background-color: aliceblue;
  color: #99CA3A;
  padding: 10px 20px;
  font-size: 18px;
  font-weight: bold;
  border-radius: 10px;
  border: none;
}

.paadingtwo {
  padding: 30px 10px 0 10px;
}

.awstext h4{
  font-size: 30px;
}

.awstext h4,.awstext p {
  text-align: left;
}



.col50text {
  text-align: left;
}

.col50text h2 {
  padding: 10px 0;
}

.col50text img {
  padding: 10px 0;
}

.col50text h4 {
  padding: 10px 0;
}

.col50text p {
  padding: 10px 0;
}



.col45text {
  text-align: left;
}

.col45text h2 {
  font-size: 27px;
  font-weight: bold;
}

.col45text h3 {
  font-size: 23px;
  font-weight: bold;
}

.facebook {
  padding: 10px;
  color: #99CA3A;
}

.home_sec {
  background: url("./images/home.png");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  padding: 50px 0px;
  background-blend-mode: multiply;
}

.home_text_box {
  margin: 80px 0;
  padding: 80px 0;
  text-align: left;
}

.home_text_box h2 {
  font-size: 30px;
  color: #fff;
}

.home_text_box h4 {
  font-size: 40px;
  color: #99CA3A;
}

.home_text_box p{
  font-size: 20px;
  color: #fff;
}

.home_text_box div{
  width: 60%;
  border: 5px solid #99CA3A;
  border-radius: 10px;
}


.form_box_bg {
  width: 80%;
  margin: 80px auto;
  background: #FFFFFF99;
  padding: 20px 50px;
  border-radius: 30px;
}

.buttonclass {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.buttonclass button {
  font-size: 12px;
  display: block;
  background-color: #000;
  border: 2px solid #99CA3A;
  color: #fff;
  padding: 10px 5px;
  border-radius: 30px;
  margin: 5px 5px;
}

.footertext p {
  text-align: left;
  color: white;
}

.footerlink a {
  text-align: left;
  color: white;
}

.footerlink p {
  padding: 10px 0;
  color: white;
  font-size: 14px;
}

.marginclass p {
  padding: 10px 0;
  color: #fff;
}

.bgcolor {
  background-color: #000;
}


/* media query for mobile screen */
.col50img {
  text-align: end;
}

.col50img img {
  width: 70%;
  display: block;
  margin-left: auto;
}

.col50img h3 {
  color: #99CA3A;
  margin: 5px;
}

.col30img img {
  width: 100%;
  max-width: 160px;
}

.col50text .button {
  /* text-align: center; */
  margin: 10px 0;
}

@media only screen and (max-width: 767px) {

  .home_sec>.container>.d-flex {
    flex-direction: column;
  }

  .home_sec>.container>.d-flex .col_50 {
    width: 100%;
  }

  .home_text_box {
    margin: 30px 0;
    padding: 20px;
  }

  .form_box_bg {
    width: 80%;
    margin: 40px auto;
    padding: 30px;
  }

  .nossec .novalues {
    align-items: center;
  }

  .nossec .col_20 {
    width: 100%;
    margin-top: 14px;
  }

  .cardsec .col_30 {
    max-width: 300px;
    margin: 0 auto;
    margin-right: 10px;
    width: 90%;
    flex-shrink: 0
  }

  .cardsec .col_30:last-child {
    margin-bottom: 0px;
  }

  .carditems {
    overflow-x: auto;
  }

  .paadingtwo {
    display: flex;
    flex-direction: column;
  }

  .paadingtwo .awstext h4 {
    text-align: left;
  }

  .prosec .awsbutton {
    text-align: left;
  }

  .proitems {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .col_40 {
    width: 100%;
    max-width: 300px;
    margin: 0 auto;
    margin-bottom: 30px;
  }



  .slidersec .container .d-flex {
    display: flex !important;
    flex-direction: column-reverse;
  }

  .slidersec .container .col_50 {
    width: 100%;
  }

  .stepitem>.col_70 {
    width: 100%;
  }

  .stepitem>.col_30 {
    display: none;
  }

  .col_30 .col30img {
    text-align: center !important;
  }

  .h2text h2 {
    font-size: 1.2rem;
  }

  .h2text p {
    font-size: 1rem;
  }

  .footerlink {
    display: flex;
    gap: 20px;
    place-content: center;
  }

  .footer .col_30 {
    display: contents;
    text-align-last: center;
  }

  .footer .d-flex {
    display: block !important;
  }

  .footer .input-group {
    justify-content: center;
  }

  .navbar-expand-lg .d-flex {
    display: block !important;
  }
}

.proitems {
  gap: 10px;
}

.carditems {
  gap: 30px;
}